.navigation{
    display: flex;
   justify-content: center;
   position: relative;
 }
 .nav-items{
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
     
 }
 .nav-link{
    color: black;
 }
 .navigation li {
   padding-left: 30px;
  }
  
   .navigation input{
    margin-right: 20px;
   }
   .search{
    border-radius: 30px;
    background-color: lightgray;
    outline: none;
    border: none;
    width: 200px;
    height: 30px;
    position: relative;
    right: 30px;
    top: 8px;
  
  }
  .cauta{
    position: relative;
  }
  

  p{
    text-align: center;
  }
  .login{
text-align: center;  
}
input{
    width: 300px;
    height: 30px;
    margin-top: 10px;

}
.box{
    width: 20px;
    height: 20px;
 }
 h5{
    text-align: center;
    color: gray;
 }
 .buton{
    display: flex;
    justify-content: center;
    align-items: center;
    
 }
 .btn-sing{
    width: 300px;
    height: 40px;
    background-color: rgb(57, 33, 33);
    color: white;
 }
 a{
    color: grey;
 }
 
 #join{
    color: black;
 }
 label{
    color: gray;
 }
 p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 }
 .inima{
right: 0;
position: absolute;
 }
 .img{
    position: absolute;
    left: 10px;
    top: 4px
 }
 .paragraf{
    text-align: center;
    padding: 30px;
    margin: 30px;
 }
 .input10{
     text-align: center;
      
 }
 .butonsubmit{
    justify-content: center;
    display: flex;
     
 }
 .buttnon1{
    width: 200px;
margin-top: 20px; 
border-radius: 20px;
background-color: lightgrey;
border: none;
color:  black;

}
.btnmember{
    justify-content: center;
    display: flex;
}
.btnmember1{
     background-color:black;
    color: white;
    border: none;
    margin-bottom: 50px;
}
 .input1{
    width: 200px;
 }
 .paragraf{
    text-align: center;
 }

select{
  width: 310px;
  height: 40px;
     
}
#semnatura{
      width: 20px;
    justify-content: space-around;

  }
 #sem1{
   margin-top: 0;
   padding-top: 0;

 }
 
.inputmember{
text-align: center;
 
 }
#country{
    top: 10px;
    margin-top: 10px;
    height: 30px;
    width: 300px;
    bottom: 0;
}
.footer {
    position: relative;
	width: 100%;
	background: #000000;
	display: block;
    margin-bottom: 0px;
    border-radius: 5px;
 }

 .inner-footer {
	 width: 100%;


	 display: flex;
	 flex-wrap: wrap;
	 box-sizing: border-box;
	 /* justify-content: center; */
 }

.footer-items {
	width: 20%;
	padding: 10px 20px;
	box-sizing: border-box;
	color: #fff;
}

.footer-items p {
	font-size: 16px;
	text-align: justify;
	line-height: 25px;
	color: #fff;
}

.footer-items h1 {
	color: #fff;
}

.border1 {
	height: 3px;
	border: 0px;
}

ul {
	list-style: none;
	color: #fff;
	font-size: 15px;
	letter-spacing: 0.5px;	
 }

ul a {
	text-decoration: none;
	outline: none;
	color: #fff;
	transition: 0.3s;
}


ul li {
	margin: 10px 0;
	height: 25px;
}

li i {
	margin-right: 20px;
} 

.social-media {
	width: 100%;
	color: #fff;
	text-align: center;
	font-size: 20px;
}

.social-media a {
	text-decoration: none;
}

.social-media i {
	height: 25px;
	width: 25px;
	margin: 20px 10px;
	padding: 4px;
	color: #fff;
	transition: 0.5s;
}

.social-media i:hover {
	transform: scale(1.5);
}

.footer-bottom {
   
	padding: 10px;
	background: #000000;
	color: #fff;
	font-size: 12px;

	display: flex;
  align-items: center;
}


.absolute{
      font-size: 15px;
  flex: 1;
  padding: 0px;
}

.perene::before{
    	content: url(Vector.png);
      font-size: 15px;
  flex: 1;
  padding: 20px;
}
.copyright{
    flex: 1;
}



.container-footer{
	
	display: flex;
}



.inner-footer{
	flex: 1;
	padding: 5px;
}
.imgsearch{
	text-align: right;
	flex: 1;
	padding: 20px;
}
.impers{
	margin:10px;
	width: 30px;
	height: 30px;
}
@media screen and (max-width: 1275px) {
	.footer-items {
		width: 50%;
	}
}

/* for mobile screen view */

@media screen and (max-width: 660px) {
	.footer-items {
		width: 100%;
	}
}
/* nav nou */
 
 
 body {
   font-family: sans-serif;
 }
 
 .main-nav {
   color: #fff;
   background-color:white;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0 16px;
 }
 
 .logo {
   font-size: 18px;
   font-weight: bold;
   color: black;
 }
 
 .nav-links {
   list-style: none;
   display: flex;
   flex-direction: row;
   
  }
 
 .nav-links li a {
   text-decoration: none;
   color: black;
   display: inline-block;
   padding: 16px;
 }
 
 /* .nav-links li a:hover {
   color: #0183e9;
   background-color: #fff;
   transition: background-color 0.5s ease;
 } */
 
 .nav-toggle {
   display: none;
 }
 
 @media (max-width: 576px) {
   .main-nav {
     height: 50px;
   }
 
   .nav-toggle {
     display: block;
     border: none;
     background-color: transparent;
     cursor: pointer;
    }
 
   .bar {
     width: 30px;
     height: 3px;
     margin: 5px;
     background-color:black;
   }
 
   .nav-links {
     flex-direction: column;
     background-color: white;
     position: absolute;
     top: 50px;
     left: 0;
     width: 100%;
     display: none;
   }
 
   .nav-links li a {
     width: 100%;
   }
 
   .active {
     display: flex;
   }
   .search{
        display: none;
        
   }
 }
 /* footer */

 body{
  background-color: azure;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
/* *{
  
} */

/* FOOTER */



.footer {
  position: relative;
width: 100%;
background: #000000;
display: block;
  margin-bottom: 0px;
  border-radius: 5px;
}

.inner-footer {
 width: 100%;


 display: flex;
 flex-wrap: wrap;
 box-sizing: border-box;
 /* justify-content: center; */
}

.footer-items {
width: 20%;
padding: 10px 20px;
box-sizing: border-box;
color: #fff;
}

.footer-items p {
font-size: 16px;
text-align: justify;
line-height: 25px;
color: #fff;
}

.footer-items h1 {
color: #fff;
}

.border1 {
height: 3px;
border: 0px;
}

ul {
list-style: none;
color: #fff;
font-size: 15px;
letter-spacing: 0.5px;	
}

ul a {
text-decoration: none;
outline: none;
color: #fff;
transition: 0.3s;
}


ul li {
margin: 10px 0;
height: 25px;
}

li i {
margin-right: 20px;
}

.social-media {
width: 100%;
color: #fff;
text-align: center;
font-size: 20px;
}

.social-media a {
text-decoration: none;
}

.social-media i {
height: 25px;
width: 25px;
margin: 20px 10px;
padding: 4px;
color: #fff;
transition: 0.5s;
}

.social-media i:hover {
transform: scale(1.5);
}

.footer-bottom {
 
padding: 10px;
background: #000000;
color: #fff;
font-size: 12px;

display: flex;
align-items: center;
}


.absolute{
    font-size: 15px;
flex: 1;
padding: 0px;
}

.perene::before{
    content: url(Vector.png);
    font-size: 15px;
flex: 1;
padding: 20px;
}
.copyright{
  flex: 1;
}



.container-footer{

display: flex;
}



.inner-footer{
flex: 4;
padding: 5px;
}
.imgsearch{
text-align: right;
flex: 1;
padding: 20px;
}
.impers{
margin:10px;
width: 30px;
height: 30px;
}




/* for tablet mode view */

@media screen and (max-width: 1275px) {
.footer-items {
  width: 50%;
}
}

/* for mobile screen view */

@media screen and (max-width: 660px) {
.footer-items {
  width: 100%;
}
}
.imghome{
  width: 100%;

}
.buttonhome{
 
  text-align: center;
  margin-bottom: 50px
}
.notifi-me{
  background-color: black;
  color: white;
  border-radius: 10px;
  border: none;
  height: 25px;
  width: 90px;
}
.Shop{
  background-color: black;
  color: white;
  border-radius: 10px;
  border: none;
  width: 110px;
  height: 25px;
}
.imgsir{
  margin-top: 50px;
  display: flex;
  flex-direction: row;

}
.nike1{
  width: 300px;
margin-left: 10px;
}

.textn1{
  width: 300px;
  margin-left: 15px;
}
/* sir img */
.mySlides {
  display: none;
  }
  .fade {
      animation-name: fade;
      animation-duration: 1.5s;
    }
    
    @keyframes fade {
      from {opacity: .4}
      to {opacity: 1}
    }
    .slideshow-container {
      
      max-width: 400px;
      position: relative;
      margin: auto; 
    }
    
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
  
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
/* gata */
.img-run{
  width: 100%;

}
.Shoe-btn{
  background-color: black;
  color: white;
  border-radius: 10px;
  border: none;
  width: 110px;
  height: 30px;
  text-align: center;
}
.btn-shoe{
  text-align: center;
}
.btn-shop{
  text-align: center;
}
.shop{
  background-color: black;
  color: white;
  border-radius: 10px;
  border: none;
  width: 110px;
  height: 30px;
  text-align: center;
}